





























マイページ

<h2>名前</h2>
<p><%= @user_prof.name %></p><br>

<h2>大学名</h2>
<p><%= @user_prof.univ %></p><br>

<h2>年齢</h2>
<p><%= @user_prof.age %></p><br>

<h2>性別</h2>
<p><%= @user_prof.gender %></p><br>

<h2>紹介文</h2>
<p><%= @user_prof.bio %></p><br>

<h2>誕生日</h2>
<p><%= @user_prof.birth %></p><br>

<%= link_to "サークル新規作成", new_circle_path %>


<%= link_to "編集", "/users_prof/#{@user_prof.id}/edit", class: "btn edit-btn" %>

