

<h1>新規作成</h1>
<%= form_for (@circle) do |f| %>
<%= f.label :name,"サークル名" %>
<%= f.text_field :name %><br>


<%= f.label :place,"活動場所" %>
<%= f.text_field :place %><br>

<%= f.label :bio,"サークル紹介" %>
<%= f.text_field :bio %><br>

<%= f.label :image,"サークル画像" %>
<%= f.text_field :image %>

<%= f.label :admin,"代表者名" %>
<%= f.text_field :admin_user_id %><br>

<%= f.label :category,"カテゴリー選択" %>
<br>

<%= fields_for @circle.categories do ||%>
	<%= check_box_tag :category %>
	<%= label_tag :category, 'tech' %>
	<%= check_box_tag :bissness %>
	<%= label_tag :bisiness, 'biss' %>
	<%= check_box_tag :sports %>
	<%= label_tag :sports, 'sports' %>
	<%= check_box_tag :a %>
	<%= label_tag :a, 'a' %>
	<%= check_box_tag :b %>
	<%= label_tag :b, 'b' %>
	<%= check_box_tag :c %>
	<%= label_tag :c, 'c' %>
<% end %>
<br>
<%= f.submit "登録する" %>
<% end %>
