<h1>Circles#new</h1>
<p>Find me in app/views/circles/new.html.erb</p>

<h1>新規作成</h1>
<%= form_for (@circle) do |f| %>
<%= f.label :name,"サークル名" %>
<%= f.text_field :name %>
<%= f.label :admin,"代表者名" %>
<%= f.text_field :admin_user_id %>
<%= f.label :place,"活動場所" %>
<%= f.text_field :place %>
<%= f.label :time,"活動日時" %>
<%= f.date_field :time %>
<%= f.label :content,"コンテンツ選択" %>
<%= f.text_field :content %>
<%= f.label :message,"一言" %>
<%= f.text_field :message %>
<%= f.submit "登録する" %>
<% end %>
