<!DOCTYPE html>
<html>
  <head>
    <title>CircleGang</title>
    <link rel="stylesheet" type="text/css" href="app/assets/atyleaheers/application.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application" %>
    
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>


  


















































  <body>   



        <h1><a href="#">インカレマッチング</a></h1>

      <ul class="right">
      <li><%= link_to "サークル一覧", circles_path %></li>
      
      <li><%#= link_to "",  %></li>
            <% if signed_in? %> 

          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>


          <li><%= link_to "プロフィール登録", new_users_prof_path %></li>

        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %> </li>

          <li><%= link_to "ログイン", new_user_session_path %></li>

        <% end %>
          </ul>
        </li>
      </ul>
 


     
    <%= yield %>

     <ul class="footer-right">
      <% if signed_in? %> 
      <% end %>
     </ul>

            <% if signed_in? %> 

          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>

        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %> </li>

          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>


  </body>
</html>
