<!DOCTYPE html>
<html>
  <head>
    <title>CircleGang</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>       
      <header class="navbar">
  <div class="container">
    <div id="logo">インカレマッチング</div>

    <ul class="header-right">

      <li><%= link_to "Top", root_path %></li>
     

         <% if signed_in? %> 

          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>

        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %> </li>

          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
        </ul>
        </header>
      
    <%= yield %>

     <ul class="footer-right">
      <% if signed_in? %> 
        <li>Logged <%= current_user.email %></li>
      <% end %>
     </ul>
  </body>
</html>
